.footer {
  margin: 0;
  padding: 10px 20px;
  background-color: $color-primary;
}

.footer__contact {
  display: none;
}

.footer__copyright {
  font-size: 8px;
  line-height: 1.5;
  font-style: normal;
  color: $color-white;
}

@media (min-width: $screen-width-S) {
  .footer {
    padding: 14px calc(50% - 335px) 4px calc(50% - 304px);
  }
  
  .footer__copyright {
    display: none;
  }
}
