.footer {
  margin: 0;
  padding: 10px 20px;
  background-color: $color-primary;
}

.footer__contact {
  display: none;
}

.footer__copyright {
  font-size: 8px;
  line-height: 1.5;
  font-style: normal;
  color: $color-white;
}
