.footer {
  margin: 0;
  padding: 10px 30px;
  background-color: $color-primary;
}

.footer__contact {
  display: none;
}

.footer__copyright {
  font-size: 8px;
  line-height: 1.5;
  font-style: normal;
  color: $color-white;
}

@media (min-width: $screen-width-XS){
  .footer {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 8px;
  }
}

@media (min-width: $screen-width-S) {
  .footer {
    padding: 0 calc(50vw - 340px);
    padding-top: 14px;
    padding-bottom: 4px;
  }

  .footer__copyright {
    display: none;
  }
}
