.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 8px 5px 20px;
}

.header__logo-link {
  display: inline-flex;
  align-items: center;
}

.header__logoname {
  padding-left: 8px;
  padding-top: 5px;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.header__adress {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 121px;
  font-size: 7px;
  line-height: 1.5;
  font-style: normal;
  text-align: left;
}

.header__mail {
  color: $color-primary;
}

@media (min-width: $width-XXS) {
  .header {
    padding: 10px 18px 5px 20px;
  }


.header__logoname {
  font-size: 10px;
}

  .header__adress {
    width: 140px;
    font-size: 8px;
  }
}

@media (min-width: $width-S) {
  .header {
    padding: 4px calc(50% - 350px) 8px;
  }

  .header__logo-link {
    width: 275px;
    padding-left: 40px;
  }

  .header__logo-link picture {
    width: 81px;
    margin: 0;
    padding: 0;
  }

  .header__logo-image {
    width: 100%;
    height: 73px;
  }

  .header__logoname {
    margin: 0;
    padding-left: 20px;
    padding-top: 0;
    font-size: 14px;
    font-weight: 700;
  }

  .header__adress {
    width: 185px;
    margin: 0;
    padding-top: 7px;
    font-size: 11px;
    line-height: 1.7;
    letter-spacing: -0.2px;
  }
}

@media (min-width: $width-M) {
  .header {
    padding: 0 calc(50% - 480px);
  }
}

@media (min-width: $width-L) {
  .header {
    padding: 0 calc(50% - 700px);
  }
}
