
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;

  min-width: 320px;
  font-size: 15px;
  line-height: 30px;
  font-family: --text-font-family;
  font-style: normal;
  color:   --white-color;

}

@media (min-width: --tablet-width) {
  body {
    font-size: 17px;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
