html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 18px;
  font-style: normal;
  font-family: $text-font-family;
  color: $color-primary;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    overflow-x: hidden;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
