html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  // outline: 1px solid red;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 15px;
  font-style: normal;
  font-family: $text-font-family;
  color: $color-primary;

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    overflow-x: hidden;
  }
}

@media (min-width: $tablet-width) {
  body {
    font-size: 17px;
  }
}

a {
  text-decoration: none;
}

