$color-primary: #8a0001;
$color-primary-hover: #b10001;
$color-primary-active: #9b0000;
$color-secondary: #73ac82;
$color-secondary-hover: #90be9d;
$color-secondary-active: #568d65;
$color-tertiary: #fbf6eb;
$color-white: #ffffff;
$color-light-black: #333333;
$color-placeholder: #aaaaaa;


$color-menu-hover: rgb(234, 203, 134);
$box-shadow: 0px 3px 7px 0px;

$header-font-family: "Raleway",
"Arial",
sans-serif;
$text-font-family: "Roboto Slab",
"Open Sans",
serif;

$screen-width-XXS: 500px;
$screen-width-XS: 575.98px;
$screen-width-S: 767.98px;
$screen-with-burger-width: 991.90px;
$screen-width-M: 991.98px;
$screen-width-L: 1199.98px;
$screen-width-XL: 1440px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// --desktop-column-width: 100px;
// --desktop-margin: 100px;

// --tablet-column-width: 80px;
// --tablet-margin: 80px;

// --mobile-column-width: 60px;
// --mobile-margin: 20px;

// $spacing-XL: 100px;
// $spacing-L: 84px;
// $spacing-M: 84px;
// $spacing-S: 23px;
// $spacing-XS: 13px;

// $gutter-width: 20px;

// $card-width: 270px;
// $card-height: 311px;
