.js .nav__toggle {
  display: block; }

.no-js .nav__toggle {
  display: none; }

.no-js li.menu__item {
  display: block; }

@font-face {
  font-weight: 400;
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  src: local("Roboto Slab"), local("Roboto Slab Regular"), url("../fonts/robotoslabregular.woff2") format("woff2"), url("../fonts/robotoslabregular.woff") format("woff"); }

@font-face {
  font-weight: 900;
  font-family: "Roboto Slab";
  font-style: normal;
  font-display: swap;
  src: local("Roboto Slab Bold"), local("Roboto Slab-Bold"), url("../fonts/robotoslabbold.woff2") format("woff2"), url("../fonts/robotoslabbold.woff") format("woff"); }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 15px;
  font-style: normal;
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #8a0001; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
      overflow-x: hidden; } }

@media (min-width: 767.98px) {
  body {
    font-size: 17px; } }

a {
  text-decoration: none; }

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.about-us {
  padding: 10px 30px;
  background-color: #fbf6eb; }

.about-us__heading {
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center; }

.about-us__text {
  margin-bottom: 20px;
  font-size: 14px; }

.about-us__img {
  display: none; }

@media (min-width: 575.98px) {
  .about-us {
    padding: 0 calc(50vw - 270px);
    padding-top: 18px;
    padding-bottom: 32px; }
  .about-us__heading {
    margin-bottom: 27px;
    padding-bottom: 0;
    font-size: 18px; }
  .about-us__text {
    margin: 0;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-bottom: 26px; }
  .about-us__statistics.statistics-table {
    width: 80%;
    margin: 0 auto; } }

@media (min-width: 767.98px) {
  .about-us {
    padding: 0 calc(50vw - 340px);
    padding-top: 18px;
    padding-bottom: 32px; } }

@media (min-width: 991.98px) {
  .about-us {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "heading image" "text image" "statistics image";
    margin: 0;
    padding: 0;
    padding-left: calc(50vw - 480px); }
  .about-us__heading {
    grid-area: heading;
    display: inline-block;
    margin: auto 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 20px; }
  .about-us__text {
    grid-area: text;
    width: 75%;
    display: inline-block;
    margin: auto;
    padding: 0;
    font-size: 17px; }
  .about-us__statistics.statistics-table {
    grid-area: statistics;
    width: 60%;
    margin: auto;
    margin-top: 0;
    display: inline-block;
    padding: 0; }
  .about-us__img {
    grid-area: image;
    display: block;
    height: auto;
    width: 100%; } }

@media (min-width: 1199.98px) {
  .about-us {
    margin: 0;
    padding: 0;
    padding-left: calc(50vw - 590px); }
  .about-us__heading {
    width: 70%;
    margin: auto;
    margin-bottom: 0; }
  .about-us__text {
    width: 70%;
    font-size: 19px; }
  .about-us__statistics.statistics-table {
    width: 60%;
    margin-top: 0;
    padding-right: 32px; } }

@media (min-width: 1440px) {
  .about-us__heading {
    font-size: 24px; }
  .about-us__text {
    font-size: 22px; } }

.heading {
  display: block;
  margin: 0 auto;
  padding-top: 115px;
  min-height: 300px;
  background-image: url(../img/heading-photo-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #73ac82; }

.heading__text-img {
  padding: 15px 0;
  background-color: rgba(112, 171, 129, 0.5); }

.heading__text-img img {
  display: block;
  width: 270px;
  height: 20px;
  margin: 0 auto; }

@media (min-width: 500px) {
  .heading {
    padding-top: 115px; }
  .heading__text-img img {
    width: 310px; } }

@media (min-width: 575.98px) {
  .heading {
    padding-top: 150px;
    min-height: 400px; }
  .heading__text-img img {
    width: 340px; } }

@media (min-width: 767.98px) {
  .heading {
    padding-top: 185px;
    min-height: 455px;
    background-image: url(../img/heading-photo-tablet.jpg); }
  .heading__text-img img {
    width: 460px;
    height: 35px; } }

@media (min-width: 991.98px) {
  .heading {
    padding-top: 221px;
    min-height: 473px;
    background-position-y: -180px; }
  .heading__text-img img {
    width: 655px;
    height: 45px; } }

@media (min-width: 1199.98px) {
  .heading {
    padding-top: 300px;
    min-height: 600px;
    background-size: cover;
    background-position-y: -185px;
    background-image: url(../img/heading-photo-desktop.jpg); }
  .heading__text-img {
    padding: 20px 0; }
  .heading__text-img img {
    width: 800px;
    height: 50px; } }

@media (min-width: 1440px) {
  .heading {
    padding-top: 310px;
    min-height: 700px;
    background-size: cover;
    background-position-y: -185px; }
  .heading__text-img {
    padding: 25px 0; }
  .heading__text-img img {
    width: 900px;
    height: 55px; } }

.modal__overlay {
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 300; }

.modal__position {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -175px;
  z-index: 400; }

.modal__wrapper {
  position: relative;
  width: 320px;
  padding: 30px 25px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25); }

.modal {
  display: none; }

.modal--show {
  display: block; }

.modal__text-heading {
  padding-bottom: 10px;
  font-size: 18px;
  color: #73ac82; }

.modal__text {
  color: #73ac82; }

.modal__close {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 30; }
  .modal__close::before, .modal__close::after {
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: #73ac82; }
  .modal__close::before {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg); }
  .modal__close::after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.modal__close:hover::before,
.modal__close:hover::after {
  background-color: #90be9d; }

.modal__close:active {
  outline: none; }
  .modal__close:active::before, .modal__close:active::after {
    background-color: #568d65; }

@media (min-width: 1199.98px) {
  .modal__position {
    margin-left: -280px; }
  .modal__wrapper {
    width: 400px;
    padding: 70px 50px 80px; }
  .modal__text-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 57px;
    font-weight: bold;
    text-align: center; }
  .modal__text {
    font-size: 16px; }
  .modal__close {
    top: 12px;
    right: 12px; }
    .modal__close::before, .modal__close::after {
      width: 18px;
      height: 3px; } }

@media (min-width: 1440px) {
  .modal__position {
    margin-left: -280px; }
  .modal__wrapper {
    width: 486px;
    padding: 110px 100px 130px; }
  .modal__text-heading {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 22px;
    line-height: 57px;
    font-weight: bold;
    text-align: center; }
  .modal__text {
    font-size: 18px; }
  .modal__close {
    top: 15px;
    right: 15px; }
    .modal__close::before, .modal__close::after {
      width: 18px;
      height: 3px; } }

.subscribe {
  padding: 15px 30px;
  padding-bottom: 10px;
  font-size: 15px;
  background-color: #73ac82; }

.subscribe-form {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.subscribe__title {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  color: #ffffff; }

.subscribe-form__input {
  margin: 0;
  padding: 4px 15px;
  width: 235px;
  font-size: 13px;
  border: none; }

.subscribe-form__input::-webkit-input-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input::-moz-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input:-ms-input-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input::-ms-input-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input::placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__btn {
  margin: 0;
  padding-top: 4px;
  padding-right: 15px;
  padding-bottom: 5px;
  padding-left: 15px;
  color: #ffffff;
  font-family: "Roboto Slab", "Open Sans", serif;
  background-color: #8a0001;
  border: none; }
  .subscribe-form__btn:hover {
    background-color: #b10001; }
  .subscribe-form__btn:active {
    background-color: #9b0000;
    outline: none; }

.subscribe__promo {
  font-size: 13px;
  color: #ffffff; }

@media (min-width: 575.98px) {
  .subscribe {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 8px; } }

@media (min-width: 767.98px) {
  .subscribe {
    padding: 0 calc(50vw - 340px);
    padding-top: 14px;
    padding-bottom: 4px; }
  .subscribe__title {
    padding-bottom: 6px;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px; }
  .subscribe-form__input {
    width: 338px;
    padding: 7px 7px 6px;
    font-size: 17px; }
  .subscribe-form__input::-webkit-input-placeholder {
    font-size: 17px; }
  .subscribe-form__input::-moz-placeholder {
    font-size: 17px; }
  .subscribe-form__input:-ms-input-placeholder {
    font-size: 17px; }
  .subscribe-form__input::-ms-input-placeholder {
    font-size: 17px; }
  .subscribe-form__input::placeholder {
    font-size: 17px; }
  .subscribe-form__btn {
    font-size: 17px;
    padding: 5px 8px 5px 6px; }
  .subscribe__promo {
    margin-top: 11px;
    font-size: 15px; } }

@media (min-width: 991.98px) {
  .subscribe {
    margin: 0;
    padding: 0 calc(50vw - 480px);
    padding-top: 14px;
    padding-bottom: 4px; }
  .subscribe__title {
    padding-bottom: 10px; }
  .subscribe__promo {
    font-size: 17px; }
  .subscribe-form__input,
  .subscribe-form__btn {
    margin: 0; } }

@media (min-width: 1199.98px) {
  .subscribe {
    padding: 0 calc(50vw - 590px);
    padding-top: 20px;
    padding-bottom: 15px; }
  .subscribe__title {
    font-size: 22px;
    padding-bottom: 13px; }
  .subscribe-form__input {
    width: 338px;
    padding: 7px 7px 6px;
    font-size: 18px; }
  .subscribe-form__btn {
    padding: 3px 8px 7px 6px;
    font-size: 18px; }
  .subscribe__promo {
    padding-top: 10px;
    font-size: 16px; } }

@media (min-width: 1440px) {
  .subscribe {
    padding: 0 calc(50% - 615px);
    padding-top: 25px;
    padding-bottom: 25px; }
  .subscribe-form__input {
    width: 420px; }
  .subscribe__title {
    font-size: 24px;
    padding-bottom: 13px; }
  .subscribe__promo {
    font-size: 18px;
    padding-top: 10px; } }

.statistics-table {
  width: 100%;
  text-align: center; }

.statistics-table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
  font-size: 16px; }

.statistics-table__header {
  font-weight: 600; }

.statistics-table__cell {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding-bottom: 10px; }

@media (min-width: 575.98px) {
  .statistics-table__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .statistics-table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
    font-size: 12px; }
  .statistics-table__header {
    font-weight: 400; }
  .statistics-table__cell {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-bottom: 3px;
    font-size: 22px; } }

@media (min-width: 991.98px) {
  .statistics-table__row {
    font-size: 16px; }
  .statistics-table__cell {
    font-size: 20px; } }

@media (min-width: 1199.98px) {
  .statistics-table__row {
    font-size: 18px; }
  .statistics-table__cell {
    font-size: 25px; } }

.contact__heading {
  margin: 0;
  padding: 0;
  font-weight: 400; }

.contact__text {
  margin: 0;
  padding: 0; }

.contact__mail {
  color: #ffffff; }

.footer {
  margin: 0;
  padding: 10px 30px;
  font-size: 8px;
  background-color: #8a0001; }

.footer__contact {
  display: none; }

.footer__copyright {
  line-height: 1.5;
  font-style: normal;
  color: #ffffff; }

.timetable {
  display: none; }

@media (min-width: 575.98px) {
  .footer {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (min-width: 767.98px) {
  .footer {
    padding: 0 calc(50vw - 340px);
    padding-top: 14px;
    padding-bottom: 14px; } }

@media (min-width: 991.98px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0 calc(50vw - 480px);
    padding-top: 10px;
    padding-bottom: 14px;
    font-size: 12px;
    line-height: 1.7; }
  .footer__copyright {
    margin-top: 42px;
    letter-spacing: 0.8px; }
  .footer__contact {
    display: block;
    width: 210px;
    margin: 0;
    color: #ffffff; }
  .footer__timetable {
    display: block;
    padding-top: 3px;
    color: #ffffff; } }

@media (min-width: 1199.98px) {
  .footer {
    padding: 0 calc(50vw - 590px);
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 14px; } }

@media (min-width: 1440px) {
  .footer {
    padding: 0 calc(50vw - 590px);
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 18px; } }

.timetable {
  text-align: left; }

.timetable__heading {
  margin: 0;
  padding: 0;
  padding-left: 3px;
  text-align: left; }

.timetable__row {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid white; }

.timetable__header {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  padding-right: 5px;
  font-weight: 400; }
  .timetable__header::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 11px;
    background-color: #ffffff; }

.timetable__cell {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  padding-left: 5px; }

@media (min-width: 1199.98px) {
  .timetable__header::before {
    top: 6px;
    right: -1px;
    width: 1px;
    height: 13px; } }

@media (min-width: 1440px) {
  .timetable__header::before {
    top: 10px;
    right: -1px;
    width: 1px;
    height: 15px; } }

.social {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.social__item {
  list-style: none; }

.social__item a {
  font-size: 8px;
  color: #ffffff;
  padding-right: 5px; }

.menu {
  margin: 0;
  padding: 0; }

.menu__item {
  padding: 10px 30px;
  text-align: center;
  list-style: none; }

.menu__link {
  display: block;
  margin: 0 auto; }
  .menu__link:hover .menu__text {
    color: #eacb86; }
  .menu__link:active .menu__text {
    color: rgba(234, 203, 134, 0.6); }

.menu__text {
  font-size: 18px;
  font-weight: 900;
  letter-spacing: 1.7px;
  color: #ffffff; }

.menu.menu--opened {
  padding-top: 10px; }

@media (min-width: 767.98px) {
  .menu__item {
    padding: 15px 30px; }
  .menu__link {
    display: block;
    margin: 0 auto; }
  .menu__text {
    font-size: 18px;
    letter-spacing: 1.7px;
    color: #ffffff; }
  .menu.menu--opened {
    padding-top: 4px; } }

@media (min-width: 991.98px) {
  .menu {
    margin: 0;
    padding: 0;
    width: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .menu__item {
    margin: 0;
    padding: 0; }
  .menu__item a {
    margin: 0;
    padding: 15px 0;
    text-align: center; } }

@media (min-width: 1199.98px) {
  .menu {
    padding: 0; } }

@media (min-width: 1440px) {
  .menu__item a {
    margin: 0;
    padding: 25px 0 15px;
    width: 100%; }
  .menu__text {
    font-size: 24px;
    line-height: 6px;
    letter-spacing: 1px; } }

.nav {
  position: relative;
  padding: 10px 0;
  background-color: #8a0001; }

.nav__toggle {
  position: relative;
  left: 30px;
  display: block;
  width: 24px;
  height: 27px;
  background-color: transparent;
  cursor: pointer;
  border: none; }

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 0 0 #ffffff, 0 10px 0 0 #ffffff;
          box-shadow: 0 5px 0 0 #ffffff, 0 10px 0 0 #ffffff; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav.nav--opened.nav--closed {
  padding-bottom: 0px; }

.nav--opened .nav__toggle {
  top: 2px;
  right: 28px; }
  .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    width: 20px;
    height: 2px;
    background-color: #ffffff; }
  .nav--opened .nav__toggle::before {
    -webkit-transform: rotate(43deg);
            transform: rotate(43deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .nav--opened .nav__toggle::after {
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg); }

@media (min-width: 575.98px) {
  .nav {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 8px; }
  .nav__toggle {
    left: 13px; } }

@media (min-width: 767.98px) {
  .nav {
    padding: 0 calc(50% - 340px); }
  .nav__toggle {
    left: 20px;
    width: 48px;
    height: 42px;
    margin: 0; }
  .nav--closed .nav__toggle::before {
    top: 11px;
    left: 2px;
    width: 44px;
    height: 3px;
    -webkit-box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
            box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff; }
  .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after {
    top: 18px;
    width: 44px;
    height: 3px; }
  .nav--opened .nav__toggle::before {
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media (max-width: 991.9px) {
  .nav--closed .menu__item {
    display: none; }
  .nav--opened .menu__item {
    display: block; } }

@media (min-width: 991.98px) {
  .nav {
    padding: 0 calc(50% - 470px); }
  .nav .nav__toggle {
    display: none; } }

@media (min-width: 1199.98px) {
  .nav {
    padding: 0 calc(50% - 580px); } }

@media (min-width: 1440px) {
  .nav {
    padding: 0 calc(50% - 625px); } }

.search-form {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 110px;
  height: 17px;
  background-color: transparent; }

.search-form__input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 21px 0 5px;
  font-size: 10px;
  background-color: #ffffff;
  border: none; }

.search-form__input::-webkit-input-placeholder {
  color: #aaaaaa; }

.search-form__input::-moz-placeholder {
  color: #aaaaaa; }

.search-form__input:-ms-input-placeholder {
  color: #aaaaaa; }

.search-form__input::-ms-input-placeholder {
  color: #aaaaaa; }

.search-form__input::placeholder {
  color: #aaaaaa; }

.search-form__btn {
  position: absolute;
  top: 3px;
  right: 3px;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 11px;
  font-size: 0;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent; }
  .search-form__btn:active, .search-form__btn:focus {
    outline: none; }

@media (min-width: 575.98px) {
  .search-form {
    width: 140px;
    right: calc(50vw - 270px); } }

@media (min-width: 767.98px) {
  .search-form {
    top: 12px;
    right: calc(50vw - 340px);
    height: 18px;
    width: 175px; }
  .search-form__input {
    padding: 0px 25px 0 6px;
    font-size: 12px; }
  .search-form__btn {
    top: 4px;
    right: 4px;
    width: 13px;
    height: 12px; } }

@media (min-width: 991.98px) {
  .search-form {
    right: calc(50% - 470px);
    margin-top: 7px;
    width: 175px; }
  .search-form__btn {
    top: 4px;
    right: 4px; } }

@media (min-width: 1199.98px) {
  .search-form {
    right: calc(50% - 560px);
    width: 195px; }
  .search-form__input {
    font-size: 15px; } }

@media (min-width: 1440px) {
  .search-form {
    width: 300px;
    height: 25px;
    right: calc(50% - 615px); }
  .search-form__input {
    padding: 0px 34px 0 10px;
    font-size: 18px;
    letter-spacing: 1px; }
  .search-form__btn {
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px 5px 20px; }

.header__logo-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logoname {
  padding-left: 8px;
  padding-top: 5px;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #8a0001; }

.header__adress {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 121px;
  font-size: 7px;
  line-height: 1.5;
  font-style: normal;
  text-align: left; }

.header__mail {
  color: #8a0001; }

@media (min-width: 500px) {
  .header {
    padding: 10px 18px 5px 20px; }
  .header__logoname {
    font-size: 10px; }
  .header__adress {
    width: 140px;
    font-size: 8px; } }

@media (min-width: 575.98px) {
  .header {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 8px; } }

@media (min-width: 767.98px) {
  .header {
    padding: 0 calc(50vw - 340px);
    padding-top: 10px;
    padding-bottom: 8px; }
  .header__logo-link {
    width: 275px; }
  .header__logo-link picture {
    width: 81px;
    margin: 0;
    padding: 0; }
  .header__logo-image {
    width: 100%;
    height: 73px; }
  .header__logoname {
    margin: 0;
    padding-left: 20px;
    padding-top: 0;
    font-size: 14px;
    font-weight: 700; }
  .header__adress {
    width: 185px;
    margin: 0;
    padding-top: 7px;
    font-size: 11px;
    line-height: 1.7;
    letter-spacing: -0.2px; } }

@media (min-width: 991.98px) {
  .header {
    padding: 0 calc(50vw - 480px);
    padding-top: 10px;
    padding-bottom: 8px; } }

@media (min-width: 1199.98px) {
  .header {
    padding: 0 calc(50vw - 590px);
    padding-top: 10px;
    padding-bottom: 8px; }
  .header__adress {
    width: 225px;
    font-size: 13px; } }

@media (min-width: 1440px) {
  .header {
    padding: 0 calc(50vw - 615px);
    padding-top: 20px;
    padding-bottom: 5px; }
  .header__logo-link {
    width: 455px; }
  .header__logo-link picture {
    width: 150px;
    margin: 0;
    padding: 0; }
  .header__logo-image {
    width: 100%;
    height: auto; }
  .header__logoname {
    padding-left: 40px;
    font-size: 24px;
    line-height: 6px;
    letter-spacing: 1px; }
  .header__adress {
    width: 316px;
    padding-top: 20px;
    font-size: 18px;
    letter-spacing: 0.1px; } }

/*# sourceMappingURL=style.css.map */
