.js .nav__toggle {
  display: block; }

.no-js .nav__toggle {
  display: none; }

.no-js li.menu__item {
  display: block; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  font-size: 15px;
  font-style: normal;
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #8a0001; }
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    body {
      overflow-x: hidden; } }

@media (min-width: 767.98px) {
  body {
    font-size: 17px; } }

a {
  text-decoration: none; }

.visually-hidden,
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.about-us {
  padding: 10px 30px;
  background-color: #fbf6eb; }

.about-us__heading {
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center; }

.about-us__text {
  margin-bottom: 20px;
  font-size: 14px; }

.about-us__img {
  display: none; }

@media (min-width: 575.98px) {
  .about-us {
    padding: 0 calc(50vw - 270px);
    padding-top: 18px;
    padding-bottom: 32px; }
  .about-us__heading {
    margin-bottom: 27px;
    padding-bottom: 0;
    font-size: 18px; }
  .about-us__text {
    margin: 0;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-bottom: 26px; }
  .about-us__table.table {
    width: 80%;
    margin: 0 auto; } }

@media (min-width: 767.98px) {
  .about-us {
    padding: 0 calc(50vw - 340px);
    padding-top: 18px;
    padding-bottom: 32px; } }

@media (min-width: 991.98px) {
  .about-us {
    margin: 0;
    padding: 0 calc(50vw - 480px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .about-us__right {
    padding: 40px 40px; }
  .about-us__table.table {
    width: 74%;
    padding-right: 25px; }
  .about-us__img {
    display: block;
    width: 300px; } }

.heading {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  min-height: 300px;
  background-image: url(../img/heading-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #73ac82; }

.heading__text {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
  color: #ffffff;
  text-align: center;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(112, 171, 129, 0.5); }

.heading__text-hidden {
  display: none; }

@media (min-width: 500px) {
  .heading__text-hidden {
    display: inline-block; } }

@media (min-width: 575.98px) {
  .heading {
    padding-top: 150px;
    min-height: 400px; }
  .heading__text {
    font-size: 28px; } }

@media (min-width: 767.98px) {
  .heading {
    padding-top: 185px;
    min-height: 455px;
    background-size: cover;
    background-position-y: -42px; }
  .heading__text {
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 15px;
    font-size: 37px;
    letter-spacing: 1.2px; } }

@media (min-width: 991.98px) {
  .heading {
    padding-top: 221px;
    min-height: 471px;
    background-size: cover;
    background-position-y: -180px; } }

.menu {
  margin: 0;
  padding: 0; }

.menu__item {
  padding: 10px 30px;
  text-align: center;
  list-style: none; }
  .menu__item:hover {
    color: #eacb86;
    background-color: #b10001; }
  .menu__item:active {
    background-color: #9b0000; }

.menu__link {
  display: block;
  width: 320px;
  margin: 0 auto; }
  .menu__link:hover .menu__text {
    color: #eacb86; }

.menu__text {
  font-size: 18px;
  letter-spacing: 1.7px;
  color: #ffffff; }

.menu.menu--opened {
  padding-top: 10px; }

@media (min-width: 767.98px) {
  .menu__item {
    padding: 15px 30px; }
  .menu__link {
    display: block;
    margin: 0 auto; }
    .menu__link:hover .menu__text {
      color: #eacb86; }
  .menu__text {
    font-size: 18px;
    letter-spacing: 1.7px;
    color: #ffffff; }
  .menu.menu--opened {
    padding-top: 4px; } }

@media (min-width: 991.98px) {
  .menu {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    width: 650px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .menu__item {
    margin: 0;
    padding: 0;
    width: 110px; }
  .menu__item a {
    margin: 0;
    padding: 15px 0;
    width: 110px;
    text-align: center; }
  .menu__item.menu__item--contact {
    width: 130px; }
  .menu__item.menu__item--contact a {
    width: 130px; } }

.modal__overlay {
  position: absolute;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 51, 51, 0.8);
  z-index: 300; }

.modal__position {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -175px;
  z-index: 400; }

.modal__wrapper {
  position: relative;
  width: 320px;
  padding: 30px 25px;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);
          box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25); }

.modal {
  display: none; }

.modal--show {
  display: block; }

.modal__text-heading {
  padding-bottom: 10px;
  font-size: 18px;
  color: #73ac82; }

.modal__text {
  color: #73ac82; }

.modal__close {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
  font-size: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 30; }

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 2px;
  background-color: #73ac82; }

.modal__close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.modal__close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.modal__close:hover::before,
.modal__close:hover::after {
  background-color: #90be9d; }

.modal__close:active {
  outline: none; }
  .modal__close:active::before, .modal__close:active::after {
    background-color: #568d65; }

.search-form {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 17px;
  width: 110px;
  background-color: #ffffff; }

.search-form__input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  height: 17px;
  width: 100%;
  padding: 0 21px 0 5px;
  font-size: 10px;
  border: none; }

.search-form__input::-webkit-input-placeholder {
  color: #aaaaaa; }

.search-form__input::-moz-placeholder {
  color: #aaaaaa; }

.search-form__input:-ms-input-placeholder {
  color: #aaaaaa; }

.search-form__input::-ms-input-placeholder {
  color: #aaaaaa; }

.search-form__input::placeholder {
  color: #aaaaaa; }

.search-form__btn {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 2px;
  width: 15px;
  height: 10px;
  font-size: 0;
  border: none;
  background-color: transparent; }
  .search-form__btn::before {
    margin: 0;
    padding: 0;
    position: absolute;
    content: "";
    top: 0;
    right: 7px;
    width: 8px;
    height: 8px;
    border: 1px solid #aaaaaa;
    border-radius: 50%; }
  .search-form__btn::after {
    margin: 0;
    padding: 0;
    position: absolute;
    content: "";
    top: 4px;
    right: 4px;
    width: 2px;
    height: 6px;
    background-color: #aaaaaa;
    border: 1px solid #aaaaaa;
    -webkit-transform: rotate(-65deg);
            transform: rotate(-65deg); }
  .search-form__btn:active, .search-form__btn:focus {
    outline: none; }

@media (min-width: 575.98px) {
  .search-form {
    width: 140px;
    right: calc(50vw - 270px); } }

@media (min-width: 767.98px) {
  .search-form {
    top: 12px;
    right: calc(50vw - 340px);
    height: 18px;
    width: 175px; }
  .search-form__input {
    height: 18px;
    padding: 0px 25px 0 6px; }
  .search-form__btn {
    top: 2px;
    right: 0;
    width: 20px;
    height: 14px; }
    .search-form__btn::before {
      top: 2px;
      right: 13px;
      width: 7px;
      height: 7px; }
    .search-form__btn::after {
      top: 6px;
      right: 10px;
      width: 1px;
      height: 6px;
      -webkit-transform: rotate(-57deg);
              transform: rotate(-57deg); } }

@media (min-width: 991.98px) {
  .search-form {
    right: calc(50% - 470px);
    margin-top: 7px; }
  .search-form__input {
    width: 175px; }
  .search-form__btn {
    top: 2px;
    right: 0; } }

.social {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.social__item {
  list-style: none; }

.social__item a {
  font-size: 8px;
  color: #ffffff;
  padding-right: 5px; }

.subscribe {
  padding: 15px 30px;
  padding-bottom: 10px;
  font-size: 15px;
  background-color: #73ac82; }

.subscribe__title {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  color: #ffffff; }

.subscribe-form__input {
  display: inline-block;
  vertical-align: middle;
  padding: 4px 15px;
  width: 235px;
  font-size: 13px;
  border: none; }

.subscribe-form__input::-webkit-input-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input::-moz-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input:-ms-input-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input::-ms-input-placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__input::placeholder {
  font-family: "Roboto Slab", "Open Sans", serif;
  color: #aaaaaa; }

.subscribe-form__btn {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 15px;
  padding-top: 6px;
  color: #ffffff;
  font-family: "Roboto Slab", "Open Sans", serif;
  background-color: #8a0001;
  border: none; }
  .subscribe-form__btn:hover {
    background-color: #b10001; }
  .subscribe-form__btn:active {
    background-color: #9b0000;
    outline: none; }

.subscribe__promo {
  font-size: 13px;
  color: #ffffff; }

@media (min-width: 575.98px) {
  .subscribe {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 8px; } }

@media (min-width: 767.98px) {
  .subscribe {
    padding: 0 calc(50vw - 340px);
    padding-top: 14px;
    padding-bottom: 4px; }
  .subscribe__title {
    padding-bottom: 6px;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: 1px; }
  .subscribe-form__input {
    padding: 7px 7px 6px;
    width: 338px; }
  .subscribe-form__input::-webkit-input-placeholder {
    font-size: 17px; }
  .subscribe-form__input::-moz-placeholder {
    font-size: 17px; }
  .subscribe-form__input:-ms-input-placeholder {
    font-size: 17px; }
  .subscribe-form__input::-ms-input-placeholder {
    font-size: 17px; }
  .subscribe-form__input::placeholder {
    font-size: 17px; }
  .subscribe-form__btn {
    font-size: 17px;
    padding: 1px 8px 5px 6px; }
  .subscribe__promo {
    margin-top: 11px;
    font-size: 15px; } }

@media (min-width: 991.98px) {
  .subscribe {
    margin: 0;
    padding: 0 calc(50vw - 480px);
    padding-top: 14px;
    padding-bottom: 4px; } }

@media (min-width: 1199.98px) {
  .subscribe {
    padding: 0 calc(50vw - 590px);
    padding-top: 14px;
    padding-bottom: 4px; } }

.table {
  width: 100%;
  text-align: center; }

.table__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 15px;
  font-size: 16px; }

.table__header {
  font-weight: 600; }

.table__cell {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  padding-bottom: 10px; }

@media (min-width: 575.98px) {
  .table__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .table__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
    font-size: 12px; }
  .table__header {
    font-weight: 400; }
  .table__cell {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding-bottom: 3px;
    font-size: 22px; } }

.footer {
  margin: 0;
  padding: 10px 30px;
  font-size: 8px;
  background-color: #8a0001; }

.footer__contact {
  display: none; }

.footer__copyright {
  line-height: 1.5;
  font-style: normal;
  color: #ffffff; }

.timetable {
  display: none; }

@media (min-width: 575.98px) {
  .footer {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (min-width: 767.98px) {
  .footer {
    padding: 0 calc(50vw - 340px);
    padding-top: 14px;
    padding-bottom: 14px; } }

@media (min-width: 991.98px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0 calc(50vw - 480px);
    padding-top: 14px;
    padding-bottom: 14px; }
  .footer__copyright {
    margin: 0; }
  .footer__contact {
    display: block;
    width: 200px;
    margin: 0;
    color: #ffffff; }
  .footer__mail {
    color: #ffffff; }
  .footer__heading {
    margin: 0; }
  .footer__timetable {
    display: block;
    color: #ffffff; } }

@media (min-width: 1199.98px) {
  .footer {
    padding: 0 calc(50vw - 590px);
    padding-top: 14px;
    padding-bottom: 14px; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 15px 5px 20px; }

.header__logo-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.header__logoname {
  padding-left: 8px;
  padding-top: 5px;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px; }

.header__adress {
  margin: 0;
  padding: 0;
  padding-top: 5px;
  width: 121px;
  font-size: 7px;
  line-height: 1.5;
  font-style: normal;
  text-align: left; }

.header__mail {
  color: #8a0001; }

@media (min-width: 500px) {
  .header {
    padding: 10px 18px 5px 20px; }
  .header__logoname {
    font-size: 10px; }
  .header__adress {
    width: 140px;
    font-size: 8px; } }

@media (min-width: 575.98px) {
  .header {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 8px; } }

@media (min-width: 767.98px) {
  .header {
    padding: 0 calc(50vw - 340px);
    padding-top: 10px;
    padding-bottom: 8px; }
  .header__logo-link {
    width: 275px; }
  .header__logo-link picture {
    width: 81px;
    margin: 0;
    padding: 0; }
  .header__logo-image {
    width: 100%;
    height: 73px; }
  .header__logoname {
    margin: 0;
    padding-left: 20px;
    padding-top: 0;
    font-size: 14px;
    font-weight: 700; }
  .header__adress {
    width: 185px;
    margin: 0;
    padding-top: 7px;
    font-size: 11px;
    line-height: 1.7;
    letter-spacing: -0.2px; } }

@media (min-width: 991.98px) {
  .header {
    padding: 0 calc(50vw - 480px);
    padding-top: 10px;
    padding-bottom: 8px; } }

@media (min-width: 1199.98px) {
  .header {
    padding: 0 calc(50vw - 590px);
    padding-top: 10px;
    padding-bottom: 8px; }
  .header__adress {
    width: 300px; } }

@media (min-width: 1452px) {
  .header {
    padding: 0 calc(50% - 660px); }
  .header__logo-link {
    padding-top: 25px;
    padding-bottom: 15px;
    width: 461px; }
  .header__logoname {
    padding-left: 40px;
    font-size: 24px; }
  .header__adress {
    width: 316px;
    font-size: 18px; } }

.nav {
  position: relative;
  padding: 10px 0;
  background-color: #8a0001; }

.nav__toggle {
  position: relative;
  left: 30px;
  display: block;
  width: 24px;
  height: 27px;
  background-color: transparent;
  cursor: pointer;
  border: none; }

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 0 0 #ffffff, 0 10px 0 0 #ffffff;
          box-shadow: 0 5px 0 0 #ffffff, 0 10px 0 0 #ffffff; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.nav.nav--opened.nav--closed {
  padding-bottom: 0px; }

.nav--opened .nav__toggle {
  top: 2px;
  right: 28px; }
  .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 2px;
    width: 20px;
    height: 2px;
    background-color: #ffffff; }
  .nav--opened .nav__toggle::before {
    -webkit-transform: rotate(43deg);
            transform: rotate(43deg);
    -webkit-box-shadow: none;
            box-shadow: none; }
  .nav--opened .nav__toggle::after {
    -webkit-transform: rotate(-43deg);
            transform: rotate(-43deg); }

@media (min-width: 575.98px) {
  .nav {
    padding: 0 calc(50vw - 270px);
    padding-top: 10px;
    padding-bottom: 8px; }
  .nav__toggle {
    left: 13px; } }

@media (min-width: 767.98px) {
  .nav {
    padding: 0 calc(50% - 340px); }
  .nav__toggle {
    left: 5px;
    width: 48px;
    height: 42px;
    margin: 0; }
  .nav--closed .nav__toggle::before {
    top: 11px;
    left: 10px;
    width: 46px;
    height: 4px;
    -webkit-box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff;
            box-shadow: 0 9px 0 0 #ffffff, 0 18px 0 0 #ffffff; }
  .nav--opened .nav__toggle::before, .nav--opened .nav__toggle::after {
    top: 18px;
    width: 46px;
    height: 4px; }
  .nav--opened .nav__toggle::before {
    -webkit-box-shadow: none;
            box-shadow: none; } }

@media (max-width: 991.9px) {
  .nav--closed .menu__item {
    display: none; }
  .nav--opened .menu__item {
    display: block; } }

@media (min-width: 991.98px) {
  .nav {
    padding: 0 calc(50% - 490px); }
  .nav .nav__toggle {
    display: none; } }

@media (min-width: 1199.98px) {
  .nav {
    padding: 0 calc(50% - 590px); } }

/*# sourceMappingURL=style.css.map */
