.timetable {
  text-align: left;
}


.timetable__heading {
  margin: 0;
  padding: 0;
  padding-left: 3px;
  text-align: left;
}

.timetable__row {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid white;
}

.timetable__header {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  padding-right: 5px;
  font-weight: 400;


  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 11px;
    background-color: $color-white;
  }
}

.timetable__cell {
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
  padding-left: 5px;
}

@media (min-width: $screen-width-L) {
  .timetable__header::before {
    top: 6px;
    right: -1px;
    width: 1px;
    height: 13px;
  }
}

@media (min-width: $screen-width-XL) {
  .timetable__header::before {
    top: 10px;
    right: -1px;
    width: 1px;
    height: 15px;
  }
}
