.search-form {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 110px;
  height: 17px;
  background-color: transparent;
}

.search-form__input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 21px 0 5px;
  font-size: 10px;
  background-color: $color-white;
  border: none;
}

.search-form__input::placeholder {
  color: $color-placeholder;
}

.search-form__btn {
  position: absolute;
  top: 3px;
  right: 3px;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 11px;
  font-size: 0;
  background-image: url("../img/search.svg");
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;

  &:active,
  &:focus {
    outline: none;
  }
}


@media (min-width: $screen-width-XS) {
  .search-form {
    width: 140px;
    right: calc(50vw - 270px);
  }
}

@media (min-width: $screen-width-S) {
  .search-form {
    top: 12px;
    right: calc(50vw - 340px);
    height: 18px;
    width: 175px;
  }

  .search-form__input {
    padding: 0 25px 0 6px;
    font-size: 12px;
  }

  .search-form__btn {
    top: 4px;
    right: 4px;
    width: 13px;
    height: 12px;
  }
}

@media (min-width: $screen-width-M) {
  .search-form {
    right: calc(50% - 470px);
    margin-top: 7px;
    width: 175px;
  }

  .search-form__btn {
    top: 4px;
    right: 4px;
  }
}

@media (min-width: $screen-width-L) {
  .search-form {
    right: calc(50% - 560px);
    width: 195px;
  }

  .search-form__input {
    font-size: 15px;
  }
}

@media (min-width: $screen-width-XL) {
  .search-form {
    width: 300px;
    height: 25px;
    right: calc(50% - 615px);
  }

  .search-form__input {
    padding: 0 34px 0 10px;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .search-form__btn {
    top: 5px;
    right: 4px;
    width: 20px;
    height: 15px;
  }
}
