.about-us {
  padding: 10px 30px;
  background-color: $color-tertiary;
}

.about-us__heading {
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.about-us__text {
  margin-bottom: 20px;
  font-size: 14px;
}
