.about-us {
  padding: 10px 30px;
  background-color: $color-tertiary;
}

.about-us__heading {
  padding-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.about-us__text {
  margin-bottom: 20px;
  font-size: 14px;
}

.about-us__img {
  display: none;
}

@media (min-width: $screen-width-XS) {
  .about-us {
    padding: 0 calc(50vw - 270px);
    padding-top: 18px;
    padding-bottom: 32px;
  }

  .about-us__heading {
    margin-bottom: 27px;
    padding-bottom: 0;
    font-size: 18px;
  }

  .about-us__text {
    margin: 0;
    padding-left: 30px;
    padding-right: 10px;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    margin-bottom: 26px;
  }

  .about-us__table.table {
    width: 80%;
    margin: 0 auto;
  }
}

@media (min-width: $screen-width-S) {
  .about-us {
    padding: 0 calc(50vw - 340px);
    padding-top: 18px;
    padding-bottom: 32px;
  }
}

@media (min-width: $screen-width-M) {
  .about-us {
    margin: 0;
    padding: 0 calc(50vw - 480px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .about-us__right {
    padding: 40px 40px;
  }

  .about-us__img {
    display: block;
    width: 300px;
  }
}
