.heading {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  min-height: 300px;
  background-image: url(../img/heading-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-secondary;
}

.heading__text {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
  color: $color-white;
  text-align: center;
  font-family: $header-font-family;
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: rgba(112, 171, 129, 0.5);
}

.heading__text-hidden {
  display: none;
}

@media (min-width: 500px) {
  .heading__text-hidden {
    display: inline-block;
  }
}

@media (min-width: $tablet-width) {
  .heading {
    padding-top: 184px;
    min-height: 456px;
    background-size: cover;
    background-position-y: -42px;
  }

  .heading__text {
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 16px;
    font-size: 37px;
    letter-spacing: 1.2px;
  }

}
