.heading {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  min-height: 300px;
  background-image: url(../img/heading-photo-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $color-secondary;
}

.heading__text {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 8px;
  color: $color-white;
  text-align: center;
  font-family: $header-font-family;
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 2px;
  background-color: rgba(112, 171, 129, 0.5);
}

.heading__text-hidden {
  display: none;
}

@media (min-width: $screen-width-XXS) {
  .heading__text-hidden {
    display: inline-block;
  }
}

@media (min-width: $screen-width-XS) {
  .heading {
    padding-top: 150px;
    min-height: 400px;
  }

  .heading__text {
    font-size: 28px;
  }
}

@media (min-width: $screen-width-S) {
  .heading {
    padding-top: 185px;
    min-height: 455px;
    background-image: url(../img/heading-photo-tablet.jpg);
    background-size: cover;
    background-position-y: -42px;
  }

  .heading__text {
    margin: 0 auto;
    padding-top: 11px;
    padding-bottom: 15px;
    font-size: 37px;
    letter-spacing: 1.2px;
  }
}

@media (min-width: $screen-width-M) {
  .heading {
    padding-top: 221px;
    min-height: 471px;
    background-position-y: -180px;
  }
}

@media (min-width: $screen-width-L) {
  .heading {
    padding-top: 300px;
    min-height: 600px;
    background-size: cover;
    background-position-y: -185px;
  }
}

@media (min-width: $screen-width-XL) {
  .heading {
    padding-top: 300px;
    min-height: 700px;
    background-size: cover;
    background-position-y: -185px;
  }
}
