.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  width: 100%;
  padding: 10px 30px;
  text-align: center;

  &:hover {
    color: $color-menu-hover;
    background-color: $color-hover-primary;
  }
}

.menu__link {
  width: 100%;
  font-size: 18px;
  letter-spacing: 1.7px;
  color: $color-white;

  &:hover {
    color: $color-menu-hover;
  }
}

.menu.menu--opened {
  padding-top: 10px;
}
