.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  padding: 10px 30px;
  text-align: center;
  list-style: none;

  &:hover {
    color: $color-menu-hover;
    background-color: $color-primary-hover;
  }

  &:active {
    background-color: $color-primary-active;
  }
}

.menu__link {
  display: block;
  width: 320px;
  margin: 0 auto;

  &:hover .menu__text {
    color: $color-menu-hover;
  }
}

.menu__text {
  font-size: 18px;
  letter-spacing: 1.7px;
  color: $color-white;
}

.menu.menu--opened {
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .menu__item {
    padding: 15px 30px;
  }

  .menu__link {
    display: block;
    margin: 0 auto;

    &:hover .menu__text {
      color: $color-menu-hover;
    }
  }

  .menu__text {
    font-size: 18px;
    letter-spacing: 1.7px;
    color: $color-white;
  }

  .menu.menu--opened {
    padding-top: 4px;
  }
}
