.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  padding: 10px 30px;
  text-align: center;
  list-style: none;

}

.menu__link {
  display: block;
  margin: 0 auto;

  &:hover .menu__text {
    color: $color-menu-hover;
  }

  &:active .menu__text {
    color: rgba($color-menu-hover, 0.6);
  }
}

.menu__text {
  font-size: 18px;
  letter-spacing: 1.7px;
  color: $color-white;
}

.menu.menu--opened {
  padding-top: 10px;
}

@media (min-width: $screen-width-S) {
  .menu__item {
    padding: 15px 30px;
  }

  .menu__link {
    display: block;
    margin: 0 auto;
  }

  .menu__text {
    font-size: 18px;
    letter-spacing: 1.7px;
    color: $color-white;
  }

  .menu.menu--opened {
    padding-top: 4px;
  }
}

@media (min-width: $screen-width-M) {
  .menu {
    margin: 0;
    padding: 0;
    width: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu__item {
    margin: 0;
    padding: 0;
  }

  .menu__item a {
    margin: 0;
    padding: 15px 0;
    text-align: center;
  }
}

@media (min-width: $screen-width-L) {
  .menu {
    padding: 0;
  }
}

@media (min-width: $screen-width-XL) {
  .menu__item a {
    margin: 0;
    padding: 25px 0 15px;
    width: 100%;
  }

  .menu__text {
    font-size: 24px;
    line-height: 6px;
    letter-spacing: 1px;
  }
}
