.product__item {
  width: 300px;
  display: block;
  // border: 1px solid $color-light-black;
}

.product__img {
  width: 298px;
}

.product__description {
  text-align: center;
}

.product__btn {
  display: block;
  margin: 0 auto;
  width: 80px;
  color: $color-white;
  text-align: center;
  background-color: $color-secondary;
}
