.search-form {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 17px;
  width: 110px;
  background-color: $color-white;
}

.search-form__input {
  box-sizing: border-box;
  position: absolute;
  height: 17px;
  width: 100%;
  padding: 0 21px 0 5px;
  font-size: 10px;
  border: none;
}

.search-form__input::placeholder {
  color: $color-placeholder;
}

.search-form__btn {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 4px;
  right: 2px;
  width: 15px;
  height: 10px;
  font-size: 0;
  border: none;
  background-color: transparent;

  &::before {
    margin: 0;
    padding: 0;
    position: absolute;
    content: "";
    top: 0;
    right: 7px;
    width: 8px;
    height: 8px;
    border: 1px solid $color-placeholder;
    border-radius: 50%;
  }

  &::after {
    margin: 0;
    padding: 0;
    position: absolute;
    content: "";
    top: 4px;
    right: 4px;
    width: 2px;
    height: 6px;
    background-color: $color-placeholder;
    border: 1px solid $color-placeholder;
    transform: rotate(-65deg);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

@media (min-width: $screen-width-XXS) {
  .search-form {
    width: 140px;
    right: calc(50vw - 270px)
  }
}

@media (min-width: $screen-width-S) {
  .search-form {
    top: 12px;
    right: calc(50vw - 360px);
    height: 18px;
    width: 175px;
  }

  .search-form__input {
    height: 18px;
    padding: 0px 25px 0 6px;
  }

  .search-form__btn {
    top: 2px;
    right: 0;
    width: 20px;
    height: 14px;

    &::before {
      top: 2px;
      right: 13px;
      width: 7px;
      height: 7px;
    }

    &::after {
      top: 6px;
      right: 10px;
      width: 1px;
      height: 6px;
      transform: rotate(-57deg);
    }

  }
}
