.search-form {
  position: absolute;
  top: 6px;
  right: 25px;
  height: 15px;
  width: 100px;
  background-color: $color-white;
}

.search-form__input {
  box-sizing: border-box;
  position: absolute;
  height: 15px;
  width: 100px;
  padding: 0;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 10px;
  color: $color-textholder;
  border: 0;
}

// .search-form__btn {
//   position: absolute;
//   top: 0;
//   right: 0;
// }
