.statistics-table {
  width: 100%;
  text-align: center;
}

.statistics-table__row {
  display: flex;
  flex-direction: column;
  padding-bottom: 15px;
  font-size: 16px;
}

.statistics-table__header {
  font-weight: 600;
}

.statistics-table__cell {
  order: -1;
  padding-bottom: 10px;
}

@media (min-width: $screen-width-XS) {
  .statistics-table__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .statistics-table__row {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    font-size: 12px;
  }

  .statistics-table__header {
    font-weight: 400;
  }

  .statistics-table__cell {
    order: -1;
    padding-bottom: 3px;
    font-size: 22px;
  }
}

@media (min-width: $screen-width-M) {
  .statistics-table__row {
    font-size: 16px;
  }

  .statistics-table__cell {
    font-size: 20px;
  }
}

@media (min-width: $screen-width-L) {
  .statistics-table__row {
    font-size: 18px;
  }

  .statistics-table__cell {
    font-size: 25px;
  }
}
